body {
    font-family: Arial, sans-serif;
    font-size: 12px;
  
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  /* th {
    background-color: #f0f0f0;
  } */

  .text-black {
    color: black;
  }

  .text-head{
    background-color:#1e9695
  }

  .anandamTitle{
    font-style: italic;
    font-family: 'Bradley Hand ITC';
  }

  .font-size-bill{
    font-size: 15px;
  }

  .invoice-template{
    background:#fff;
    padding:30px;
}

.invoice-header{
    background:#155c79;
    color:#fff;
    padding:20px;
    align-items:center;
}

.invoice-logo{
    border:3px solid #fff;
    padding:12px 25px;
}

.invoice-logo h1{
    margin:0;
    font-size:42px;
    font-weight:bold;
}

.invoice-total{
    border-top:3px solid #8c2c62;
    font-size:18px;
    font-weight:bold;
}

.invoice-footer{
    margin-top:40px;
    background:#155c79;
    color:#fff;
    text-align:center;
    padding:15px;
    font-weight:bold;
}

.table-bordered thead th{
    background:#f2f2f2;
}

.table td,
.table th{
    vertical-align:middle;
}