<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>559d5bf8-05bc-435a-bcea-c8ade7f38100</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .s1 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 8pt;
        }

        .s2 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
        }

        .s3 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
        }

        p {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 8pt;
            margin: 0pt;
        }

        .s4 {
            color: black;
            font-family: "Times New Roman", serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
        }

        .s5 {
            color: black;
            font-family: Tahoma, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 8pt;
        }

        table,
        tbody {
            vertical-align: top;
            overflow: visible;
        }
    </style>
</head>

<body>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <table style="border-collapse:collapse;margin-left:6.2pt" cellspacing="0">
        <tr style="height:23pt">
            <td
                style="width:34pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s1" style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">S.No</p>
            </td>
            <td
                style="width:109pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s1" style="padding-top: 7pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">
                    Employee<span class="s2"> </span>IP<span class="s2"> </span>Number</p>
            </td>
            <td
                style="width:183pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s1" style="padding-top: 7pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
                    Employee<span class="s2"> </span>Name<span class="s2"> </span>Days<span class="s2"> </span>Worked
                </p>
            </td>
            <td
                style="width:88pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s1" style="padding-top: 7pt;padding-left: 18pt;text-indent: 0pt;text-align: left;">
                    Monthly<span class="s2"> </span>Wages</p>
            </td>
            <td
                style="width:57pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s1" style="padding-top: 7pt;text-indent: 0pt;text-align: left;">Is<span class="s2">
                    </span>Disable</p>
            </td>
            <td
                style="width:129pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s1"
                    style="padding-top: 7pt;padding-left: 27pt;padding-right: 22pt;text-indent: 0pt;text-align: center;">
                    Reason</p>
            </td>
            <td
                style="width:84pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s1" style="padding-top: 7pt;text-indent: 0pt;text-align: right;">IP<span class="s2">
                    </span>Contribution</p>
            </td>
        </tr>
        <tr style="height:11pt">
            <td style="width:684pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"
                colspan="7">
                <p class="s2"
                    style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;line-height: 9pt;text-align: left;"><span
                        class="s1">Name</span> <span class="s1">:</span> <span class="s3">Hotel</span> <span
                        class="s3">Heritage,-</span></p>
            </td>
        </tr>
        <tr style="height:13pt">
            <td
                style="width:34pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">1</p>
            </td>
            <td style="width:109pt;border-top-style:solid;border-top-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301466020
                </p>
            </td>
            <td style="width:183pt;border-top-style:solid;border-top-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
                    RAJENDRA<span class="s2"> </span>TEMBHARE<span class="s2"> </span>19</p>
            </td>
            <td style="width:88pt;border-top-style:solid;border-top-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6536.00</p>
            </td>
            <td style="width:57pt;border-top-style:solid;border-top-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt;border-top-style:solid;border-top-width:1pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td
                style="width:84pt;border-top-style:solid;border-top-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">115.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">2</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301466025
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">MAKAN<span
                        class="s2"> </span>SINGH<span class="s2"> </span>NEGI<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6880.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">3</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301466027
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
                    BHUWANLAL<span class="s2"> </span>RAHANGDA<span class="s2"> </span>18</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6192.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">109.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">4</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301466332
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">SALIM<span
                        class="s2"> </span>KHAN<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6880.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">5</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301466334
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">MOHAN<span
                        class="s2"> </span>S.<span class="s2"> </span>19</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6536.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">115.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">6</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301468684
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">DAULAT<span
                        class="s2"> </span>T.<span class="s2"> </span>18</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6192.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">109.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">7</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301471767
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">GIRISH<span
                        class="s2"> </span>SHRIWAS<span class="s2"> </span>19</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6536.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">115.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">8</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301538042
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
                    MANINDAR<span class="s2"> </span>K.<span class="s2"> </span>21</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">7224.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">127.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">9</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301617269
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
                    SWAROOP<span class="s2"> </span>WALUKAR<span class="s2"> </span>18</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6192.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">109.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">10</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301617958
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">TIKAM<span
                        class="s2"> </span>PATLE<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6880.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">11</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301617961
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">ROHIT<span
                        class="s2"> </span>SUBANWAR<span class="s2"> </span>19</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6536.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">115.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">12</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301660427
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">RAM<span
                        class="s2"> </span>BAHADUR<span class="s2"> </span>19</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6536.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">115.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">13</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301660429
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">SUJIT<span
                        class="s2"> </span>DAS<span class="s2"> </span>18</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6192.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">109.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">14</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301660430
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">HEMLAL<span
                        class="s2"> </span>BAHADUR<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6880.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">15</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301660431
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">TEK<span
                        class="s2"> </span>BAHADUR<span class="s2"> </span>19</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6536.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">115.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">16</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301660432
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">SAMEER<span
                        class="s2"> </span>QURESHI<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6880.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">17</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301660434
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
                    RANDHEER<span class="s2"> </span>KHANDUJA<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6880.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">18</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2301660435
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
                    KRISHNA<span class="s2"> </span>PATHE<span class="s2"> </span>18</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6192.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">109.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">19</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302545619
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">PULKIT<span
                        class="s2"> </span>SINGH<span class="s2"> </span>KHANDU<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6880.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">20</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302545625
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
                    HARVEEN<span class="s2"> </span>KAUR<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6880.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">21</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302545626
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">RAJ<span
                        class="s2"> </span>TIWARI<span class="s2"> </span>18</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6192.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">109.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">22</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302552637
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">GUNJAN<span
                        class="s2"> </span>KAUR<span class="s2"> </span>19</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6536.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">115.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">23</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302552638
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">SANDIP<span
                        class="s2"> </span>WANKHEDE<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6880.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">24</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302552639
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">SANJAY<span
                        class="s2"> </span>TEMBHARE<span class="s2"> </span>19</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6536.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">115.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">25</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302603433
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">NIRAJ<span
                        class="s2"> </span>QUERESHI<span class="s2"> </span>18</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6192.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">109.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">26</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302603436
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
                    RAJENDRA<span class="s2"> </span>RAKHONDE<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6880.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">27</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302603441
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">RAMESH<span
                        class="s2"> </span>RAHANGDALE<span class="s2"> </span>19</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6536.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">115.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">28</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302603442
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">SALIM<span
                        class="s2"> </span>KHAN<span class="s2"> </span>18</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6192.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">109.00</p>
            </td>
        </tr>
        <tr style="height:12pt">
            <td style="width:34pt;border-left-style:solid;border-left-width:1pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">29</p>
            </td>
            <td style="width:109pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">2302688758
                </p>
            </td>
            <td style="width:183pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
                    RAJENDRA<span class="s2"> </span>SINGH<span class="s2"> </span>RAWA<span class="s2"> </span>19</p>
            </td>
            <td style="width:88pt">
                <p class="s3" style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;text-align: left;">6536.00</p>
            </td>
            <td style="width:57pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;text-align: center;">
                    -</p>
            </td>
            <td style="width:84pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;text-align: right;">115.00</p>
            </td>
        </tr>
        <tr style="height:11pt">
            <td
                style="width:34pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;text-indent: 0pt;line-height: 9pt;text-align: left;">30
                </p>
            </td>
            <td style="width:109pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 8pt;text-indent: 0pt;line-height: 9pt;text-align: left;">
                    2302739552</p>
            </td>
            <td style="width:183pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;line-height: 9pt;text-align: left;">
                    HASAN<span class="s2"> </span>ALI<span class="s2"> </span>20</p>
            </td>
            <td style="width:88pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 52pt;text-indent: 0pt;line-height: 9pt;text-align: left;">
                    6880.00</p>
            </td>
            <td style="width:57pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;line-height: 9pt;text-align: left;">-</p>
            </td>
            <td style="width:129pt;border-bottom-style:solid;border-bottom-width:1pt">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 27pt;text-indent: 0pt;line-height: 9pt;text-align: center;">
                    -</p>
            </td>
            <td
                style="width:84pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                <p class="s3" style="padding-top: 1pt;text-indent: 0pt;line-height: 9pt;text-align: right;">121.00</p>
            </td>
        </tr>
        <tr style="height:11pt">
            <td
                style="width:34pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:2pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:109pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:2pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:183pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:2pt">
                <p class="s1"
                    style="padding-top: 1pt;padding-left: 72pt;text-indent: 0pt;line-height: 9pt;text-align: left;">
                    Total<span class="s2"> </span>Monthly<span class="s2"> </span>Wages<span class="s2"> </span>:</p>
            </td>
            <td
                style="width:88pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:2pt">
                <p class="s1"
                    style="padding-top: 1pt;padding-left: 40pt;text-indent: 0pt;line-height: 8pt;text-align: left;">
                    197,800.00</p>
            </td>
            <td
                style="width:57pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:2pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:129pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:2pt">
                <p class="s1"
                    style="padding-top: 1pt;padding-left: 15pt;text-indent: 0pt;line-height: 9pt;text-align: left;">
                    Total<span class="s2"> </span>IP<span class="s2"> </span>Contribution<span class="s2"> </span>:</p>
            </td>
            <td
                style="width:84pt;border-top-style:solid;border-top-width:1pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt">
                <p class="s1" style="padding-top: 1pt;text-indent: 0pt;line-height: 8pt;text-align: right;">3,480.00</p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 5pt;padding-left: 12pt;text-indent: 0pt;text-align: left;">S.No</p>
    <p style="padding-top: 5pt;padding-left: 12pt;text-indent: 0pt;text-align: left;">Employee<span class="s4">
        </span>IP<span class="s4"> </span>Number<span class="s4"> </span>Employee<span class="s4"> </span>Name<span
            class="s4"> </span>Days<span class="s4"> </span>Worked<span class="s4"> </span>Monthly<span class="s4">
        </span>Wages</p>
    <p style="padding-top: 5pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Is<span class="s4"> </span>Disable
    </p>
    <p style="padding-top: 5pt;padding-left: 12pt;text-indent: 0pt;text-align: left;">Reason</p>
    <p style="padding-top: 5pt;padding-left: 12pt;text-indent: 0pt;text-align: left;">IP<span class="s4">
        </span>Contribution</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-top: 5pt;padding-left: 183pt;text-indent: -149pt;line-height: 124%;text-align: left;">Total<span
            class="s4"> </span>IP<span class="s4"> </span>Contribution<span class="s4"> </span>Total<span class="s4">
        </span>Employer<span class="s4"> </span>Contribution</p>
    <p style="padding-top: 5pt;padding-left: 195pt;text-indent: -161pt;line-height: 124%;text-align: left;">Total<span
            class="s4"> </span>Contribution<span class="s4"> </span>Total<span class="s4"> </span>Government<span
            class="s4"> </span>Contribution</p>
    <p style="padding-top: 1pt;text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 34pt;text-indent: 0pt;text-align: left;">Total<span class="s4"> </span>Monthly<span
            class="s4"> </span>Wages</p>
    <p class="s5" style="padding-top: 7pt;padding-left: 37pt;text-indent: 0pt;text-align: center;">3,480.00<span
            class="s4"> </span>9,396.00<span class="s4"> </span>12,876.00<span class="s4"> </span>0.00<span class="s4">
        </span>197,800.00</p>
    <p class="s5" style="padding-top: 4pt;padding-left: 25pt;text-indent: 0pt;text-align: center;">--<span class="s4">
        </span>End<span class="s4"> </span>of<span class="s4"> </span>Report<span class="s4"> </span>--</p>
    <p style="text-indent: 0pt;text-align: left;" />
</body>

</html>