label {
    font-size: 12px;
}
.text{
    font-size: 12px;   
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  background: 'linear-gradient(135deg, #e7e2e2, #edeaea)';
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}



/* ESIC CSS */

.table-content {
  width: 450px;
  margin: 50px auto;
  text-align: center;
}

td {
  width: 100px;
}